<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find fanuc_resources)/urdf/common_materials.xacro"/>

    <xacro:macro name="asus_xtion" params="prefix">
        <!-- links: main serial chain -->
        <link name="${prefix}base_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://smobex_asus_support/meshes/asus_camera_simple.stl"/>
                </geometry>
                <xacro:material_fanuc_black />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://smobex_asus_support/meshes/asus_camera_simple.stl"/>
                </geometry>
            </collision>
        </link>
        
    </xacro:macro>
</robot>