<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xtion">

    <!-- Created because it was needed a parent -->
    <link name="cam_flange">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </link>    

    <xacro:include filename="$(find hector_sensors_description)/urdf/asus_camera.urdf.xacro"/>
    
    <xacro:asus_camera_model name="camera" parent="cam_flange">
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </xacro:asus_camera_model>

</robot>