<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!--This xacro contains six xacro propperties representing a transformation obtained through calibration-->
<!--Calibration generated at 09:45:06, 18/03/2019 -->
<!--This file was written automatically using the "rosrun smobex_calibration store_calibration" command. -->
<xacro:property name="roll" value="0.0108383046183"/>
<xacro:property name="pitch" value="0.0678197638855"/>
<xacro:property name="yaw" value="0.00317524621708"/>
<xacro:property name="x" value="0.104268080023"/>
<xacro:property name="y" value="-0.00786476924183"/>
<xacro:property name="z" value="0.0191097214271"/>
</robot>
