<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!--This xacro contains six xacro propperties representing a transformation obtained through calibration-->
<!--Calibration generated at 19:26:05, 15/03/2019 -->
<!--This file was written automatically using the "rosrun smobex_calibration store_calibration" command. -->
<xacro:property name="roll" value="-0.000577203098326"/>
<xacro:property name="pitch" value="0.0506970123345"/>
<xacro:property name="yaw" value="0.0240205718001"/>
<xacro:property name="x" value="0.100036583302"/>
<xacro:property name="y" value="0.00452059994047"/>
<xacro:property name="z" value="0.00438971972985"/>
</robot>
