<launch>
  <include file="$(find aruco_hand_eye)/launch/aruco_hand_eye.launch">
    <arg name="markerid" value="617"/>
    <arg name="markersize" value="0.621"/>
    <arg name="publish_tf" value="true"/>

    <arg name="marker_parent_frame" value="/base_link"/>
    <arg name="camera_parent_frame" value="/tool0"/>

    <arg name="camera" value="/camera/rgb"/>
    <arg name="camera_frame" value="/camera_link"/>
  </include>

  <arg name="robot_ip" value="192.168.0.230"/>

  <!-- Initiating the OpenNI2 constelation -->
  <include file="$(find openni2_launch)/launch/openni2.launch"/>

  <!-- initializing robot_state_visualize_m6ib6s withou rviz -->
  <include file="$(find smobex_bringup)/launch/robot_state_visualize_m6ib6s.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>

  <!-- Rviz for visualization -->
    <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find smobex_calibration)/config/rviz.rviz" required="true"/>
    
</launch>