<?xml version="1.0"?>

<launch>

    <arg name="robot_ip" doc="IP of controller" />
    <arg name="online" doc="Connection to the robot"/>

    <include if="$(arg online)" file="$(find smobex_calibration)/launch/robot_connect_params.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <node unless="$(arg online)" pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="~use_gui" value="true"/>
        <param name="rate" value="100"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find smobex_description)/urdf/calibrated.xacro'" />

</launch>