<?xml version="1.0"?>
<launch>

    <arg name="robot_ip" doc="IP of the manipulator"/>
    <arg name="online" doc="If robot is online or not"/>
    <arg name="octo_resolution" doc="Resolution of the OctoMap"/>

    <!-- Initializing robot and camera calibrated -->
    <include file="$(find smobex_calibration)/launch/calibrated.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="online" value="$(arg online)"/>
    </include>

    <!-- Init point cloud spacial filter, operation mode -->
    <include file="$(find smobex_bringup)/launch/pcl_filter.launch" />

    <!-- OctoMap Server -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node">

        <remap from="cloud_in" to="point_cloud_filter/points" />
        <!-- <remap from="cloud_in" to="camera/depth_registered/points"/> -->
        <!-- <remap from="cloud_in" to="pcl_filters/pcl_filtered" /> -->
        <param name="publish_free_space" value="true"/>

        <param name="~frame_id" value="base_link" />
        <param name="~resolution" value="$(arg octo_resolution)"/>

    </node>

    <rosparam file="$(find smobex_bringup)/params/default_params.yaml" command="load" ns="calibration"/>

    <!-- Unknown space show -->
    <node pkg="world_model_consistency_check" type="octomap_bounding_box" name="octomap_bounding_box" output="screen">

        <param name="~resolution" value="$(arg octo_resolution)"/>
        <param name="~fixed_frame" value="/base_link"/>
        <param name="~rate" value="25"/>

        <remap from="~min_x" to="calibration/x_min"/>
        <remap from="~min_y" to="calibration/y_min"/>
        <remap from="~min_z" to="calibration/z_min"/>

        <remap from="~max_x" to="calibration/x_max"/>
        <remap from="~max_y" to="calibration/y_max"/>
        <remap from="~max_z" to="calibration/z_max"/>

    </node>


    <!-- Pose Generator -->
    <node pkg="smobex_explorer" type="explorer_node" name="explorer_node" output="screen">

        <param name="~fixed_frame" value="/base_link"/>
        <param name="~n_poses" value="1"/>
        <param name="~r_min" value="0.8"/>
        <param name="~r_max" value="1.2"/>

    </node>

    <!-- Rviz for visualization -->
    <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find smobex_bringup)/config/operation_mode.rviz" required="true"/>

</launch>