<?xml version="1.0"?>
<!-- -->
<launch>
    <!-- <arg name="delay" default="5"/> -->
    <arg name="robot_ip" value="192.168.0.230"/>

    <!-- <rosparam command="load" file="$(find smobex_calibration)/files/calib_params.yaml" /> -->
    <arg name="calib_vals" value="0.0570 0.0244 0.0166 -0.5065 0.5075 -0.4849 0.5005 tool0 camera_link 100" />

    <!-- Initiating the OpenNI2 constelation -->
    <include file="$(find openni2_launch)/launch/openni2.launch"/>

    <!-- Initializing OctoMap Server with the right params -->
    <group>

        <remap from="cloud_in" to="camera/depth_registered/points" />
        <!-- <param name="~frame_id" value="camera_rgb_optical_frame" /> -->
        <param name="~frame_id" value="base_link" />
        <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" />

    </group>

    <!-- Initializing robot_state_visualize_m6ib6s withou rviz -->
    <include file="$(find smobex_bringup)/launch/robot_state_visualize_m6ib6s.launch" ns="m6ib6s">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <group ns="xtion">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find smobex_asus_support)/urdf/asus_xtion.xacro'" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    </group>

    <!-- Static tf from calibration -->
    <node pkg="tf" type="static_transform_publisher" name="xtion_tf" args="$(arg calib_vals)" />

    <!-- Rviz for visualization -->
    <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find smobex_bringup)/config/rviz2.rviz" required="true"/>

</launch>