<?xml version="1.0"?>
<!-- -->
<launch>

    <arg name="calibration" default="false" />
    <arg name="robot_ip" value="192.168.0.230"/>

    <!-- Initiating the OpenNI2 constelation -->
    <include file="$(find openni2_launch)/launch/openni2.launch"/>

    <!-- Operating mode -->
    <group unless="$(arg calibration)">

        <!-- Initializing OctoMap Server with the right params -->
        <group>

            <remap from="cloud_in" to="camera/depth_registered/points" />
            <!-- <param name="~frame_id" value="camera_rgb_optical_frame" /> -->
            <param name="~frame_id" value="base_link" />
            <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" />

        </group>

        <!-- Initializing robot and camera calibrated -->
        <include file="$(find smobex_description)/launch/calibrated.launch">
            <arg name="robot_ip" value="$(arg robot_ip)" />
        </include>

        <!-- Rviz for visualization -->
        <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find smobex_bringup)/config/operation_mode.rviz" required="true"/>

    </group>

    <!-- Calibration mode -->
    <group if="$(arg calibration)">

        <include file="$(find aruco_hand_eye)/launch/aruco_hand_eye.launch">
            <arg name="markerid" value="617"/>
            <arg name="markersize" value="0.621"/>
            <arg name="publish_tf" value="true"/>
            <arg name="interactive" value="false"/>

            <arg name="marker_parent_frame" value="/base_link"/>
            <arg name="camera_parent_frame" value="/flange"/>

            <arg name="camera" value="/camera/rgb"/>
            <!-- <arg name="camera_frame" value="/camera_link"/> -->
            <arg name="reference_frame" value="/camera_link"/>
            <arg name="camera_frame" value="/camera_rgb_optical_frame"/>
        </include>

        <!-- Launch camera and fanuc as separate robots -->
        <include file="$(find smobex_description)/launch/uncalibrated.launch">
            <arg name="robot_ip" value="$(arg robot_ip)" />
        </include>

        <!-- Rviz for visualization -->
        <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find smobex_bringup)/config/calibration_mode.rviz" required="true"/>

    </group>

</launch>