<?xml version="1.0"?>
<!--
    Aruco launch file
    Refer to bringup.launch
-->
<launch>
     <include file="$(find aruco_hand_eye)/launch/aruco_hand_eye.launch">

        <!-- ArUco gigant -->
        <arg name="markerid" value="617"/>
        <arg name="markersize" value="0.621"/>

        <!-- ArUco mini -->
        <!-- <arg name="markerid" value="585"/>
            <arg name="markersize" value="0.081"/> -->

        <arg name="publish_tf" value="true"/>
        <arg name="interactive" value="false"/>
        <arg name="sample_rate" value="1" />

        <arg name="marker_parent_frame" value="/base_link"/>
        <arg name="camera_parent_frame" value="/flange"/>

        <arg name="camera" value="/camera/rgb"/>
        <arg name="reference_frame" value="/cam_flange"/>
        <arg name="camera_frame" value="/camera_rgb_optical_frame"/>
        <arg name="marker_frame" value="/hand_eye/camera/rgb/aruco_marker_frame"/>
        <arg name="camera_info" value="/camera/rgb/camera_info"/>

    </include>
</launch>