<?xml version="1.0"?>
<launch>
    <arg name="name" default=""/>

    <node pkg="rosbag" type="record" name="record_bag" output="screen" args="-O /home/joao/bagfiles/$(arg name) 
        /camera/depth/camera_info
        /camera/depth_registered/points
        /camera/rgb/camera_info
        /camera/rgb/image_raw
        /cells_vis_array
        /clusters_centers
        /discovered_space
        /free_cells_vis_array
        /joint_states
        /occupied_cells_vis_array
        /octomap_binary
        /octomap_full
        /octomap_point_cloud_centers
        /point_cloud_filter/points
        /point_cloud_filter/rviz/filter
        /pose_arrows
        /tf
        /tf_static
        /unknown_full_map
        /unknown_pc"/>
</launch>