<?xml version="1.0"?>
<launch>
    <!-- <node pkg="smobex_explorer" type="explorer_node" name="explorer_node" output="screen">

        <param name="~frame_id" value="/base_link"/>
        <param name="~n_poses" value="50"/>
        <param name="~threshold" value="0.005"/>

        <rosparam file="$(find smobex_bringup)/params/camera_specs.yaml" command="load" />

    </node> -->

    <!-- Arguments -->
    <arg name="action_name" default="SmobexExplorerActionSkill"/>

    <node pkg="smobex_explorer" type="robot_pose_evaluator" name="robot_pose_evaluator" output="screen">

        <param name='action_name' value='$(arg action_name)' />

        <param name="~frame_id" value="/base_link"/>
        <param name="~n_poses" value="50"/>
        <param name="~threshold" value="0.005"/>

        <rosparam file="$(find smobex_bringup)/params/camera_specs.yaml" command="load" />

    </node>

    <!-- Symbolic Pose Interaction Skill -->
    <node name="smobex_explorer_action_skill" pkg="smobex_explorer_action_skill_server" type="smobex_explorer_action_skill_server" output="screen">

        <param name='action_name' value='$(arg action_name)' />

        <param name="~frame_id" value="/base_link"/>

        <rosparam file="$(find smobex_bringup)/params/camera_specs.yaml" command="load" />

    </node>

</launch>