<?xml version="1.0"?>
<launch>

    <arg name="configure" default="false"/>

    <node pkg="point_cloud_spatial_filter" type="point_cloud_spatial_filter_node" name="point_cloud_filter" output="screen" required="true">

        <param name="point_cloud_in" value="/camera/depth_registered/points"/>
        <param name="fixed_frame_id" value="/camera_link"/>

        <param name="configure" value="$(arg configure)"/>
        <param name="voxelize" value="false"/>
        
        <rosparam unless="$(arg configure)" file="$(find point_cloud_spatial_filter)/params/default_params.yaml" command="load" />    
        
        <!-- If you want to overwrite the defaults          
        <param name="x_voxel" value="0.3"/>
        <param name="y_voxel" value="0.3"/>
        <param name="z_voxel" value="0.3"/>

        <param name="x_max" value="0.2"/>
        <param name="y_max" value="0.2"/>
        <param name="z_max" value="0.2"/>
        <param name="x_min" value="-0.2"/>
        <param name="y_min" value="-0.2"/>
        <param name="z_min" value="-0.2"/> -->

    </node>

</launch>